spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      data-locations: classpath:test-data.sql

logging:
  level:
    root: INFO
    com.xyz: DEBUG

license:
  service:
    url: http://localhost:8080

rate:
  service:
    url: http://localhost:8080

api:
  license-url: /license/details
  rate-url: /rental/rate

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true